/* styles.css */

/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Navigation */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Sections */
section {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Titres */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Paragraphes */
p {
    font-size: 16px;
    line-height: 1.5;
}

/* Formulaire de contact */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

/* Image à droite */
.right-image {
    float: right;
    margin-left: 20px;
    /* Ajoutez d'autres styles ici */
}
#accueil img {
    width: 126px;
    height: 118px;
    margin-top: -100px;
    border-radius: 34px;
}